body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 88%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  margin-top: 33px;
}
.heder__right{
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 55px;
  height: 55px;
  background: no-repeat url('img/logo.svg');
  display: inline-block;
  margin-right: 44px;
}
/*.menu__box {
  visibility: hidden;
}
#menu__toggle {
  display: none;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}*/
.menu {
  align-items: center;
  display: flex;
}
.menu__item {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  position: relative;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
  padding: 0 18px;
}
.menu__item:last-child {
  padding-right: 0;
}
.menu__item:first-child{
  padding-left: 0;
}
.menu__item:after, .menu__sign:after, .menu__cart:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background: #000;
  opacity: 0;
  transition: opacity .5s width .5s;
}
.menu__item:hover, .menu__sign:hover, .menu__cart:hover {
  opacity: .5;
}
.menu__item:hover:after, .menu__sign:hover:after, .menu__cart:hover:after  {
  width: 100%;
  opacity: 1;
}
.heder__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  margin: 0;
  display: inline-flex;
  position: relative;
  width: 178px;
  height: 24px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #000;
}
.search-field {
  width: 162px;
  height: 24px;
  outline: none;
  border: none;
}
.search-icon {
  width: 14px;
  height: 14px;
  padding-top: 5px;
}
.menu__sign, .menu__cart {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  position: relative;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__sign {
  padding: 0 35px;
}
.menu__cart {
  padding-right: 3px;
}
.ellipse {
  width: 15px;
  height: 15px;
  background: no-repeat url('img/ellipse.svg');
  padding-right: 35px;
}
.language {
  width: 20px;
  height: 20px;
  background: no-repeat url('img/flag.svg');
}
.shop {
  width: 100%;
  height: 280px;
  background: no-repeat url('img/graffiti.png');
  margin-bottom: 52px;
}
.shop__title {
  font: bold 30px/29px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
  padding-top: 89px;
  padding-left: 59px;
  width: 195px;
  height: 87px;
  margin-top: 0;
  margin-bottom: 13px;
}
.shop__button {
  cursor: pointer;
  position: relative;
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
  padding-left: 59px;
  width: 72px;
  height: 12px;
  text-decoration: none;
  display: inline-block;
  margin-right: 3px;
}
.shop__link {
  transform: translateY(-350%);
  position: relative;
  display: inline-block;
  width: 43px;
  height: 1px;
  background-color: #fff;
}
.shop__link::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #fff;
  transform: rotate(45deg);
}
.shop__link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #fff;
  transform: rotate(-45deg);
}
.shop__link:hover {
  animation: shop__link 1s linear infinite;
}
  @keyframes shop__link {
    0% {
        left:0px;
    }
    50% {
        left:10px;
    }
    100% {
        left:0px;
    }
}
.product__title {
  margin: 0;
  margin-bottom: 19px;
  font: bold 22px/21px Gotham Pro, arial, helvetica, sans-serif;
  text-align: center;
}
.product__foto {
  padding-left: 23px;
  margin-bottom: 23px;
}
.separator {
  margin-bottom: 90px;
  display:inline-block;
  width: 1px;
  height: 100px;
  background-color: #000;
  opacity: 0.2;
  margin-right: 12px;
}
.product-atlas, .product-pepper, .product-mandel, .product-blue {
  display:inline-block;
  width: 220px;
  margin-bottom: 51px;
  margin-right: 25px;
}
.product-blue {
  margin-right: 0;
}
.product-atlas__title, .product-pepper__title, .product-mandel__title, .product-blue__title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 12px;
  font: 12px/11px Gotham Pro, arial, helvetica, sans-serif;
}
.product-atlas__price, .product-pepper__price, .product-mandel__price, .product-blue__price {
  margin-top: 0;
  margin-bottom: 0;
  font: bold 14px/13px Gotham Pro, arial, helvetica, sans-serif;
  display: inline-block;
  padding-left: 13px;
}
.product__footer {
  display: flex;
  justify-content: space-between;
}
.product__circle {
  display: inline-block;
  text-align: center;
  font-size: 0;
}
.product__circle_white {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin-right: 8px;
}
.product__circle_black_activ {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #0E1211;
  margin-right: 8px;
}
.product__circle_red {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #B62E3C;
  margin-right: 8px;
}
.product__circle_yellow {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FDB431;
}
.product__circle_orange_activ {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #E29D69;
  margin-right: 8px;
}
.product__circle_red_activ {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #762E31;
  margin-right: 8px;
}
.product__circle_blue {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #41479B;
  margin-right: 8px;
}
.product__circle_blue_activ {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #257DA9;
  margin-right: 8px;
}
.video {
  background-color: #000;
  margin-bottom: 77px;
  display: flex;
  align-items: center;
}
.video-left, .video-right{
  display: inline-block;
  position: relative;
}
.video-left {
  width: 650px;
  height: 360px;
  background: top left no-repeat url(img/picture.png);
  margin: 68px 36px 67px 33px;
}
.video__circle-transparent {
  text-align: center;
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  top: 42.7%;
  left: 45.3%;
}
.video__circle-white {
  text-align: center;
  vertical-align: middle;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 44%;
  left: 46%;
}
.video__circle-white::before {
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-left: 9px solid rgba(0, 0, 0, 0.5);
  top: 17px;
  left: 22px;
}
.video-right{
  width: 270px;
}
.video__title {
  margin: 0;
  margin-bottom: 14px;
  font: bold 22px/27px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
}
.video__text {
  margin: 0;
  margin-bottom: 18px;
  font: 14px/17px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
}
.video__button {
  cursor: pointer;
  position: relative;
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
  width: 85px;
  height: 12px;
  text-decoration: none;
  display: inline-block;
  margin-right: 3px;
}
.video__link {
  transform: translateY(-350%);
  position: relative;
  display: inline-block;
  width: 43px;
  height: 1px;
  background-color: #fff;
}
.video__link::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #fff;
  transform: rotate(45deg);
}
.video__link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #fff;
  transform: rotate(-45deg);
}
.video__link:hover {
  animation: video__link 1s linear infinite;
}
  @keyframes video__link {
      0% {
          left:0px;
      }
      50% {
          left:10px;
      }
      100% {
          left:0px;
      }
}
.stories__title {
  margin-top: 0;
  font: bold 22px/21px Gotham Pro, arial, helvetica, sans-serif;
  margin-bottom: 44px;
  text-align: center;
}
.stories-justin {
  background:  top left no-repeat url(img/stories1.png);
  display: inline-block;
  width: 306px;
  margin-right: 51px;
}
.stories-justin__title {
  padding-top: 59%;
  margin: 0;
  font: bold 18px/17px Gotham Pro, arial, helvetica, sans-serif;
  margin-bottom: 10px;
}
.stories-justin__text {
  margin: 0;
  margin-bottom: 11px;
  font: 14px/17px Gotham Pro, arial, helvetica, sans-serif;
}
.stories-justin__button {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  display:inline-block;
}
.stories-justin__link {
  transform: translateY(-350%);
  position: relative;
  display: inline-block;
  width: 33px;
  height: 1px;
  background-color: #000;
  margin-right: 117px;
}
.stories-justin__link::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #000;
  transform: rotate(45deg);
}
.stories-justin__link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #000;
  transform: rotate(-45deg);
}
.stories-justin__link:hover {
  animation: stories-justin__link 1s linear infinite;
}
  @keyframes stories-justin__link {
      0% {
          left:0px;
      }
      50% {
          left:10px;
      }
      100% {
          left:0px;
      }
}
.stories-justin__date {
  margin: 0;
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  opacity: 0.3;
  color: #000;
  text-align: right;
  display:inline-block;
}
.stories-first {
  background:  top left no-repeat url(img/stories2.png);
  display:inline-block;
  width: 306px;
  margin-right: 51px;
}
.stories-first__title {
  padding-top: 58%;
  margin: 0;
  font: bold 18px/17px Gotham Pro, arial, helvetica, sans-serif;
  margin-bottom: 10px;
}
.stories-first__text {
  margin: 0;
  margin-bottom: 14px;
  font: 14px/17px Gotham Pro, arial, helvetica, sans-serif;
}
.stories-first__button {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  display:inline-block;
}
.stories-first__link {
  transform: translateY(-350%);
  position: relative;
  display: inline-block;
  width: 33px;
  height: 1px;
  background-color: #000;
  margin-right: 117px;
}
.stories-first__link::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #000;
  transform: rotate(45deg);
}
.stories-first__link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #000;
  transform: rotate(-45deg);
}
.stories-first__link:hover {
  animation: stories-first__link 1s linear infinite;
}
  @keyframes stories-first__link {
      0% {
          left:0px;
      }
      50% {
          left:10px;
      }
      100% {
          left:0px;
      }
}
.stories-first__date {
  margin: 0;
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  opacity: 0.3;
  color: #000;
  text-align: right;
  display:inline-block;
}
.stories-kevin {
  background:  top left no-repeat url(img/stories3.png);
  display:inline-block;
  width: 306px;
  margin-bottom: 78px;
}
.stories-kevin__title {
  padding-top: 58%;
  margin: 0;
  font: bold 18px/17px Gotham Pro, arial, helvetica, sans-serif;
  margin-bottom: 10px;
}
.stories-kevin__text {
  margin: 0;
  margin-bottom: 14px;
  font:  14px/17px Gotham Pro, arial, helvetica, sans-serif;
}
.stories-kevin__button {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.stories-kevin__link {
  transform: translateY(-350%);
  position: relative;
  display: inline-block;
  width: 33px;
  height: 1px;
  background-color: #000;
  margin-right: 80px;
}
.stories-kevin__link::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #000;
  transform: rotate(45deg);
}
.stories-kevin__link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #000;
  transform: rotate(-45deg);
}
.stories-kevin__link:hover {
  animation: stories-kevin__link 1s linear infinite;
}
  @keyframes stories-kevin__link {
      0% {
          left:0px;
      }
      50% {
          left:10px;
      }
      100% {
          left:0px;
      }
}
.stories-kevin__date {
  margin: 0;
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  opacity: 0.3;
  color: #000;
  width: 100px;
  text-align: right;
  display:inline-block;
}
.title {
  margin: 0;
  font: bold 18px/17px Gotham Pro, arial, helvetica, sans-serif;
  opacity: 0.3;
  color: #000;
  text-align: right;
  margin-bottom: 9px;
}
.foto {
  width: 100%;
  display:inline-block;
  margin-bottom: 76px;
}
.foto__bw {
  width: 146.9px;
}
.footer {
  background-color: #000;
}
.footer__menu {
  display: flex;
}
.footer-myaccount, .footer-customerservice, .footer-miscellaneous, .footer-singup {
  display: inline-block;
  width: 180px;
  margin-top: 68px;
  margin-bottom: 51px;
  margin-right: 20px;
}
.footer-myaccount {
  margin-left: 200px;
}
.footer-myaccount__title, .footer-customerservice__title, .footer-miscellaneous__title, .footer-singup__title {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  margin: 0;
  color: #fff;
  margin-bottom: 9px;
}
.footer-myaccount__menu, .footer-customerservice__menu, .footer-miscellaneous__menu, .footer-singup__text {
  font: 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  margin: 0;
  color: #fff;
  text-decoration: none;
  margin-bottom: 7px;
  display: block;
}
.footer-singup__text{
  margin: 0;
  margin-bottom: 10px;
}
.footer-singup__link {
  color: #fff;
  text-align:center;
  padding: 8px 5px;
  vertical-align: middle;
  width: 123px;
  border: solid 2px #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 36px;
  font: 10px/10px Gotham Pro, arial, helvetica, sans-serif;
}
.footer-singup__icon {
  display: flex;
  justify-content: space-between;
  width: 137px;
}
.footer__text {
  display: block;
  margin: 0;
  color: #fff;
  font: 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  padding-bottom: 30px;
  text-align: center;
}
