body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 88%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  margin-top: 33px;
}
.header__right{
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 55px;
  height: 55px;
  background: 50%/cover no-repeat url('img/logo.svg');
  display: inline-block;
  margin-right: 44px;
}
.menu__box {
  display: none;
}
.menu {
  align-items: center;
  display: flex;
}
.menu__item {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  position: relative;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
  margin: 0 18px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:first-child{
  margin-left: 0;
}
.menu__item:after, .menu__sign:after, .menu__cart:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background: #000;
  opacity: 0;
  transition: opacity .5s width .5s;
}
.menu__item:hover, .menu__sign:hover, .menu__cart:hover {
  opacity: .5;
}
.menu__item:hover:after, .menu__sign:hover:after, .menu__cart:hover:after  {
  width: 100%;
  opacity: 1;
}
.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  margin: 0;
  display: inline-flex;
  position: relative;
  width: 178px;
  height: 24px;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #000;
}
.search-field {
  width: 162px;
  height: 24px;
  outline: none;
  border: none;
}
.search-icon {
  width: 14px;
  height: 14px;
  padding-top: 5px;
}
.menu__sign, .menu__cart {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  position: relative;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}
.menu__sign {
  margin: 0 35px;
}
.menu__cart {
  margin-right: 3px;
}
.ellipse {
  width: 15px;
  height: 15px;
  background: no-repeat url('img/ellipse.svg');
  padding-right: 35px;
}
.language {
  width: 20px;
  height: 20px;
  background: 50%/cover no-repeat url('img/flag.svg');
}
.shop {
  width: 100%;
  height: 280px;
  background: 50%/cover no-repeat url('img/graffiti.png');
  margin-bottom: 53px;
}
.shop__title {
  font: bold 30px/29px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
  padding-top: 89px;
  padding-left: 59px;
  width: 195px;
  height: 87px;
  margin-top: 0;
  margin-bottom: 13px;
}
.shop__button {
  cursor: pointer;
  position: relative;
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
  padding-left: 59px;
  width: 72px;
  height: 12px;
  text-decoration: none;
  display: inline-block;
  margin-right: 3px;
}
.shop__link {
  transform: translateY(-350%);
  position: relative;
  display: inline-block;
  width: 43px;
  height: 1px;
  background-color: #fff;
}
.shop__link::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #fff;
  transform: rotate(45deg);
}
.shop__link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #fff;
  transform: rotate(-45deg);
}
.shop__link:hover {
  animation: shop__link 1s linear infinite;
}
  @keyframes shop__link {
    0% {
        left:0px;
    }
    50% {
        left:10px;
    }
    100% {
        left:0px;
    }
}
.product__title {
  margin: 0;
  margin-bottom: 19px;
  font: bold 22px/21px Gotham Pro, arial, helvetica, sans-serif;
  text-align: center;
}
.products {
  display: flex;
  justify-content: space-between;
}
.product__foto {
 margin-bottom: 23px;
  margin-left: 11px;
}
.separator {
  width: 1px;
  height: 100px;
  background-color: #000;
  opacity: 0.2;
  margin-top: 40px;
}
.product-atlas, .product-pepper, .product-mandel, .product-blue {
  width: 206px;
  margin-bottom: 46px;
  padding: 0 12px;
}
.product-atlas__title, .product-pepper__title, .product-mandel__title, .product-blue__title {
  margin: 0;
  margin-bottom: 10px;
  font: 12px/11px Gotham Pro, arial, helvetica, sans-serif;
}
.product-atlas__price, .product-pepper__price, .product-mandel__price, .product-blue__price {
  margin: 0;
  font: bold 14px/13px Gotham Pro, arial, helvetica, sans-serif;
}
.product__footer {
  display: flex;
  justify-content: space-between;
}
.product__circle {
 transform: translateY(-30%);
}
.product__circle_white {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin-right: 4px;
}
.product__circle_black_activ {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #0E1211;
  margin-right: 4px;
}
.product__circle_red {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #B62E3C;
  margin-right: 4px;
}
.product__circle_yellow {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FDB431;
}
.product__circle_orange_activ {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #E29D69;
  margin-right: 4px;
}
.product__circle_red_activ {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #762E31;
  margin-right: 4px;
}
.product__circle_blue {
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #41479B;
  margin-right: 4px;
}
.product__circle_blue_activ {
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #257DA9;
  margin-right: 4px;
}
.video {
  background-color: #000;
  margin-bottom: 78px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.video-left, .video-right{
  display: inline-block;
  position: relative;
}
.video-left {
  width: 70%;
  height: 361px;
  background: no-repeat url(img/picture.png) 50%/cover;
  margin: 67px 40px 66px 33px;
}
.video__circle-transparent {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  top: 42.5%;
  left: 45.4%;
}
.video__circle-white {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 43.9%;
  left: 46.2%;
}
.video__circle-white::before {
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-left: 9px solid rgba(0, 0, 0, 0.5);
  top: 17px;
  left: 22px;
}
.video-right{
  width: 29%;
  margin-right: 45px;
}
.video__title {
  margin: 0;
  margin-bottom: 14px;
  font: bold 22px/27px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
}
.video__text {
  margin: 0;
  margin-bottom: 15px;
  font: 14px/18px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
}
.video__button {
  cursor: pointer;
  position: relative;
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  color: #fff;
  width: 85px;
  height: 12px;
  text-decoration: none;
  display: inline-block;
  margin-right: 6px;
}
.video__link {
  transform: translateY(-350%);
  position: relative;
  display: inline-block;
  width: 43px;
  height: 1px;
  background-color: #fff;
}
.video__link::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #fff;
  transform: rotate(45deg);
}
.video__link::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #fff;
  transform: rotate(-45deg);
}
.video__link:hover {
  animation: video__link 1s linear infinite;
}
  @keyframes video__link {
      0% {
          left:0px;
      }
      50% {
          left:10px;
      }
      100% {
          left:0px;
      }
}
.stories__title {
  margin-top: 0;
  font: bold 22px/21px Gotham Pro, arial, helvetica, sans-serif;
  margin-bottom: 44px;
  text-align: center;
}
.stories{
  display: flex;
  justify-content:space-between;
}
.stories-justin {
  margin-right: 51px;
  background:   no-repeat url(img/stories1.png) 50%/cover;
}
.stories-justin, .stories-first, .stories-kevin {
  width: 306px;
  height: 147px;
}
.stories-justin__title, .stories-first__title, .stories-kevin__title {
  padding-top: 58%;
  margin: 0;
  font: bold 18px/17px Gotham Pro, arial, helvetica, sans-serif;
  margin-bottom: 10px;
}
.stories-justin__text, .stories-first__text, .stories-kevin__text {
  margin: 0;
  margin-bottom: 9px;
  font: 14px/18px Gotham Pro, arial, helvetica, sans-serif;
}
.stories-justin__footer, .stories-first__footer, .stories-kevin__footer {
  display: flex;
  justify-content: space-between;
}
.stories-justin__footer-container, .stories-first__footer-container, .stories-kevin__footer-container {
  display: inline-block;
}
.stories-justin__button, .stories-first__button, .stories-kevin__button {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  display:inline-block;
  margin-right: 4px;
}
.stories-justin__link, .stories-first__link, .stories-kevin__link {
  transform: translateY(-350%);
  width: 30px;
  height: 1px;
  background-color: #000;
  display: inline-block;
}
.stories-justin__link::after, .stories-first__link::after, .stories-kevin__link::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #000;
  transform: rotate(45deg);
}
.stories-justin__link::before, .stories-first__link::before, .stories-kevin__link::before  {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #000;
  transform: rotate(-45deg);
}
.stories-justin__date, .stories-first__date, .stories-kevin__date {
  margin: 0;
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  opacity: 0.3;
  color: #000;
  text-align: right;
  display:inline-block;
  padding-top: 3px;
}
.stories-first {
  margin-right: 51px;
  background:  50%/cover no-repeat url(img/stories2.png);
}
.stories-kevin {
  background:  50%/cover no-repeat url(img/stories3.png);
  margin-bottom: 270px;
}
.title {
  margin: 0;
  font: bold 18px/17px Gotham Pro, arial, helvetica, sans-serif;
  opacity: 0.3;
  color: #000;
  text-align: right;
  margin-bottom: 9px;
}
.foto {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}
.foto__bw {
  display:inline-block;
  width: 147px;
}
.foto_blocuno, .foto_blocdos {
  display: inline-block;
}
.foto__bwuno {
  display: none;
}
.footer {
  background-color: #000;
}
.footer__menu {
  display: flex;
}
.footer-myaccount, .footer-customerservice, .footer-miscellaneous, .footer-singup {
  display: inline-block;
  width: 180px;
  margin-top: 68px;
  margin-bottom: 53px;
  margin-right: 20px;
}
.footer-myaccount {
  margin-left: 200px;
}
.footer-myaccount__title, .footer-customerservice__title, .footer-miscellaneous__title, .footer-singup__title {
  font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  margin: 0;
  color: #fff;
  margin-bottom: 10px;
}
.footer-singup__title {
 margin-bottom: 7px;
}
.footer-myaccount__menu, .footer-customerservice__menu, .footer-miscellaneous__menu, .footer-singup__text {
  font: 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  margin: 0;
  color: #fff;
  text-decoration: none;
  margin-bottom: 7px;
  display: block;
}
.footer-singup__text {
  margin: 0;
  margin-bottom: 12px;
}
.footer-singup__link {
  color: #fff;
  text-align:center;
  padding: 9px 5px;
  vertical-align: middle;
  width: 123px;
  border: solid 2px #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 33px;
  font: 10px/10px Gotham Pro, arial, helvetica, sans-serif;
}
.footer-singup__icon {
  display: flex;
  justify-content: space-between;
  width: 136px;
}
.footer__text {
  display: block;
  margin: 0;
  color: #fff;
  font: 12px/11px Gotham Pro, arial, helvetica, sans-serif;
  padding-bottom: 30px;
  text-align: center;
}

#menu__toggle {
  display: none;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}


@media (max-width: 1024px) {
.wrapper {
  width: 91%;
}
.header {
  margin-bottom: 42px;
  margin-top: 32px;
}
.logo {
  width: 61px;
  margin-right: 29px;
}
.search {
  width: 161px;
}
.search-field {
  width: 149px;
}
.search-icon {
  width: 12px;
  padding-top: 6px;
}
.menu__sign {
  margin-right: 28px;
  margin-left: 33px;
}
.ellipse {
  width: 14px;
  padding-right: 28px;
}
.language {
  width: 18px;
  height: 15px;
}
.shop {
  height: 254px;
  margin-bottom: 65px;
}
.shop__title {
  padding-top: 76px;
  padding-left: 55px;
  margin-bottom: 6px;
}
.shop__button {
  padding-left: 55px;
  margin-right: 10px;
}
.product__title {
  margin-bottom: 21px;
}
.product__foto {
  width: 170px;
  height: 173px;
  margin-bottom: 21px;
}
.separator {
  margin-top: 37px;
}
.product-atlas, .product-pepper, .product-mandel, .product-blue {
  width: 186px;
  margin-bottom: 74px;
}
.product-atlas__title, .product-pepper__title, .product-mandel__title, .product-blue__title {
  margin-bottom: 9px;
}
.product__circle_white {
  width: 6px;
}
.product__circle_black_activ {
  width: 8px;
}
.product__circle_red {
  height: 6px;
}
.product__circle_yellow {
  width: 6px;
}
.product__circle_orange_activ {
  width: 8px;
}
.product__circle_red_activ {
  width: 8px;
}
.product__circle_blue {
  width: 6px;
}
.product__circle_blue_activ {
  width: 8px;
}
.video {
  margin-bottom: 91px;
}
.video-left {
  width: 72%;
  height: 325px;
  margin: 59px 39px 60px 31px;
}
.video__circle-transparent {
  width: 50px;
  height: 50px;
  top: 43%;
  left: 45.8%;
}
.video__circle-white {
  width: 42px;
  height: 42px;
  top: 44%;
  left: 46.1%;
}
.video__circle-white::before {
  top: 16px;
  left: 20px;
}
.video-right{
  width: 31%;
  margin-right: 34px;
}
.video__title {
  margin: 0;
  margin-bottom: 8px;
}
.video__text {
  margin-bottom: 12px;
  font: 13px/16px Gotham Pro, arial, helvetica, sans-serif;
}
.video__button {
  margin-right: 13px;
}
.stories__title {
  margin-bottom: 45px;
}
.stories-justin {
  margin-right: 51px;
  background:   no-repeat url(img/stories1.png) 50%/cover;
}
.stories-justin, .stories-first, .stories-kevin {
  width: 278px;
}
.stories-justin__title, .stories-first__title, .stories-kevin__title {
  padding-top: 64%;
  margin-bottom: 11px;
}
.stories-justin__text, .stories-first__text, .stories-kevin__text {
  margin-bottom: 18px;
  font: 13px/16px Gotham Pro, arial, helvetica, sans-serif;
}
.stories-justin__link, .stories-first__link, .stories-kevin__link {
  width: 18px;
}
.stories-kevin {
  margin-bottom: 280px;
}
.foto {
  margin-bottom: 89px;;
}
.foto__bw {
  width: 133px;
}
.footer-myaccount {
  margin-left: 128px;
}
.footer-singup__icon {
  width: 134px;
}
}

@media (max-width: 768px) {
  .menu, .header__left {
    display: none;
  }
  .wrapper {
    width: 100%;
  }
  .header {
    /*width: 88%;*/
    height: 39px;
  }
  .logo {
    width: 156px;
    height: 34px;
    background: 50%/cover no-repeat url('img/Axionlogo.svg');
    margin-right: 0;
    margin-left: 43px;
    margin-top: 10px;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 46px;
    right: 500px;
    width: 61px;
    height: 37px;
    cursor: pointer;
    z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 9px;
    background-color: #000;
    transition-duration: .1s;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }
    .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #FFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    }
    .container {
    padding-top: 82px;
    }
    .menu__hamburger {
    padding-top: 25px;
    padding-right:53px;
    margin-top: 0;
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #000;
    font: 500 30px/35px Roboto, arial, helvetica, sans-serif;
    text-decoration: none;
    transition-duration: .25s;
    }
    .menu__hamburger:hover {
    background-color: #CFD8DC;
    }
    .shop {
      height: 415px;
      background: 50%/cover no-repeat url('img/graffiti768.png');
      margin-bottom: 67px;
    }
    .shop__title {
      font: bold 50px/48px Gotham Pro, arial, helvetica, sans-serif;
      padding-top: 113px;
      /*padding-left: 59px;*/
      width: 355px;
      height: 169px;
    /*  margin-top: 0;*/
      margin-bottom: 36px;
    }
    .shop__button {
      font: bold 20px/19px Gotham Pro, arial, helvetica, sans-serif;
      /*padding-left: 59px;*/
      width: 119px;
      height: 9px;
      margin-right: 10px;
    }
    .shop__link {
      width: 71px;
    }
/*  .shop__link::after {
    width: 5px;
    height: 1px;
    top: -2px;
    right: 0;
  }
  .shop__link::before {
    width: 5px;
    height: 1px;
    top: 2px;
    right: 0;
    background-color: #fff;
    transform: rotate(-45deg);
  }
  .shop__link:hover {
    animation: shop__link 1s linear infinite;
  }
    @keyframes shop__link {
      0% {
          left:0px;
      }
      50% {
          left:10px;
      }
      100% {
          left:0px;
      }
  }*/
  .product__title {
    margin-bottom: 21px;
    font: bold 30px/29px Gotham Pro, arial, helvetica, sans-serif;
  }
  .products {
    display: flex;
    justify-content: space-evenly;
  }
 .product__foto {
   /*margin-bottom: 23px;*/
    margin-left: 0;
    width: 230px;
    height: 233px;
  }
  .separator,  .product-mandel, .product-blue {
    display: none;
  }
  .product-atlas, .product-pepper {
    width: 281px;
    height: 352px;
  /*  margin-bottom: 46px;
    padding: 0 12px;*/
  }
  .product-atlas__title, .product-pepper__title  {
    margin-bottom: 8px;
    font: 20px/19px Gotham Pro, arial, helvetica, sans-serif;
  }
  .product-atlas__price, .product-pepper__price {
    font: bold 25px/24px Gotham Pro, arial, helvetica, sans-serif;
  }
  .product__circle_white {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .product__circle_black_activ {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .product__circle_red {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .product__circle_yellow {
    width: 20px;
    height: 20px;
  }
  .product__circle_orange_activ {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .video {
    margin-bottom: 78px;
    flex-direction: column-reverse;
  }
  .video::after {
    content: '';
    position: absolute;
    border: 40px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 768px solid #000;
    bottom: -122px;
  }
  .video-left {
    width: 88%;
    height: 374px;
    margin: 0 43px 66px 43px;
  }
  /*.video__circle-transparent {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.3;
    position: absolute;
    top: 42.5%;
    left: 45.4%;
  }
  .video__circle-white {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 43.9%;
    left: 46.2%;
  }
  .video__circle-white::before {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-left: 9px solid rgba(0, 0, 0, 0.5);
    top: 17px;
    left: 22px;
  }*/
  .video-right{
    width: 88%;
    margin: 0;
    margin-bottom: 34px;
    text-align: center;
  }
  .video__title {
    margin-bottom: 8px;
    font: bold 30px/37px Gotham Pro, arial, helvetica, sans-serif;
  }
  .video__text {
    margin-bottom: 0;
    font: 20px/25px Gotham Pro, arial, helvetica, sans-serif;
  }
  .video__button, .video__link, .stories-kevin {
    display: none;
  }
  .stories__title {
    /*margin-top: 0;*/
    font: bold 30px/29px Gotham Pro, arial, helvetica, sans-serif;
    /*margin-bottom: 44px;*/
    color: #fff;
  }
  .stor {
    background: #000;
    width: 100%;
    height: 665px;
  }
  /*.stories-justin {
    margin-right: 51px;
    background:   no-repeat url(img/stories1.png) 50%/cover;
  }*/
  .stories-justin, .stories-first {
    width: 312px;
    height: 166px;
  }
  .stories-justin__title, .stories-first__title {
  /*  padding-top: 58%;
    margin: 0;*/
    font: bold 25px/24px Gotham Pro, arial, helvetica, sans-serif;
    color: #fff;
    /*margin-bottom: 10px;*/
  }
  .stories-justin__text, .stories-first__text {
    color: #fff;
    /*margin: 0;
    margin-bottom: 9px;*/
    font: 20px/25px Gotham Pro, arial, helvetica, sans-serif;
  }
  .stories-justin__footer-container, .stories-first__footer-container {
    display: inline-block;
  }
  .stories-justin__button, .stories-first__button, .stories-kevin__button {
    font: bold 20px/19px Gotham Pro, arial, helvetica, sans-serif;
    color: #fff;
    /*text-decoration: none;
    display:inline-block;
    margin-right: 4px;*/
  }
  .stories-justin__link, .stories-first__link {
    /*transform: translateY(-350%);
    width: 30px;
    height: 1px;*/
    background-color: #fff;
  }
  .stories-justin__date, .stories-first__date {
    font: bold 15px/14px Gotham Pro, arial, helvetica, sans-serif;
    opacity: 1;
    color: #fff;
    /*text-align: right;
    display:inline-block;
    padding-top: 3px;*/
  }
  /*.stories-first {
    margin-right: 51px;
    background:  50%/cover no-repeat url(img/stories2.png);
  }*/
  .title {
    font: bold 30px/29px Gotham Pro, arial, helvetica, sans-serif;
    opacity: 1;
    color: #fff;
    background: #000;
    /*text-align: right;
    margin-bottom: 9px;*/
  }
  .foto {
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    height: 250px;
    padding: 100px 0;
    background: linear-gradient(-176deg, black  50%, white 50%);
  }
  .foto__bw, .foto__bwuno {
    display:inline-block;
    width: 170px;
    height: 170px
  }
  .foto_blocuno, .foto_blocdos {
    display: block;
  }
  /*.footer-myaccount, .footer-customerservice, .footer-miscellaneous, .footer-singup {
    display: inline-block;
    width: 180px;
    margin-top: 68px;
    margin-bottom: 53px;
    margin-right: 20px;
  }
  .footer-myaccount {
    margin-left: 200px;
  }
  .footer-myaccount__title, .footer-customerservice__title, .footer-miscellaneous__title, .footer-singup__title {
    font: bold 12px/11px Gotham Pro, arial, helvetica, sans-serif;
    margin: 0;
    color: #fff;
    margin-bottom: 10px;
  }
  .footer-singup__title {
   margin-bottom: 7px;
  }
  .footer-myaccount__menu, .footer-customerservice__menu, .footer-miscellaneous__menu, .footer-singup__text {
    font: 12px/11px Gotham Pro, arial, helvetica, sans-serif;
    margin: 0;
    color: #fff;
    text-decoration: none;
    margin-bottom: 7px;
    display: block;
  }
  .footer-singup__text {
    margin: 0;
    margin-bottom: 12px;
  }
  .footer-singup__link {
    color: #fff;
    text-align:center;
    padding: 9px 5px;
    vertical-align: middle;
    width: 123px;
    border: solid 2px #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 33px;
    font: 10px/10px Gotham Pro, arial, helvetica, sans-serif;
  }
  .footer-singup__icon {
    display: flex;
    justify-content: space-between;
    width: 136px;
  }
  .footer__text {
    display: block;
    margin: 0;
    color: #fff;
    font: 12px/11px Gotham Pro, arial, helvetica, sans-serif;
    padding-bottom: 30px;
    text-align: center;
  }
  }
  /*
